@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Billboard360.Web.Models.AddSiteResultDetailInputModel
@{
	ViewData["Title"] = "Add Site";
}
<div class="wrapper fadeInDown">
	<div id="formContent" class="regis">
		<div style="text-align:right;">
			<button type="button" id="backLink" style="background:red;"><span aria-hidden="true">&times;</span></button>
		</div>
		<h2 class="active"> Add Site </h2>
		<!-- Login Form -->
		@if (Html.ViewData.ModelState.ContainsKey(string.Empty))
		{
			<div class="alert alert-danger" role="alert">
				@Html.ValidationSummary(true, "Error when submitting.")
			</div>
		}
		<form method="post" action="AddSite">
			<input type="text" class="fadeIn first form-control" asp-for="Detail.NoBillboard" placeholder="Billboard No" data-val="true" data-val-required="The billboard number is required">
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="Detail.NoBillboard" data-valmsg-replace="true"></span>
			<input type="text" class="fadeIn second form-control" asp-for="Detail.Address" placeholder="Address" data-val="true" data-val-required="The Address field is required">
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="Detail.Address" data-valmsg-replace="true"></span>
			<input type="text" class="fadeIn second form-control" asp-for="Detail.Pulau" placeholder="Pulau" data-val="true" data-val-required="The pulau field is required">
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="Detail.Pulau" data-valmsg-replace="true"></span>
			<select id="lstprovince" class="selop fadeIn second" data-val="true" data-val-required="The Province field is required." asp-for="Detail.Provinsi"></select>
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="Detail.Provinsi" data-valmsg-replace="true"></span>
			<select id="lstcity" class="selop fadeIn second" data-val="true" data-val-required="The City field is required." asp-for="Detail.Kota"></select>
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="Detail.Kota" data-valmsg-replace="true"></span>
			<input type="text" class="fadeIn second form-control" asp-for="Detail.Cabang" placeholder="Cabang" data-val="true" data-val-required="The branch is required">
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="Detail.Cabang" data-valmsg-replace="true"></span>
			<input type="text" class="fadeIn second form-control" asp-for="Detail.HorV" placeholder="Horisontal/vertical" data-val="true" data-val-required="The horv is required">
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="Detail.HorV" data-valmsg-replace="true"></span>

			<select id="lsttype" class="selop fadeIn second" data-val="true" data-val-required="The Type field is required." asp-for="Detail.Tipe"></select>
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="Detail.Tipe" data-valmsg-replace="true"></span>
			@*<input type="text" class="fadeIn second" asp-for="Detail.Tipe" placeholder="Tipe" data-val="true" data-val-required="The type is required">
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="Detail.Tipe" data-valmsg-replace="true"></span>*@

			<input type="text" class="fadeIn second form-control" id="link" name="link" placeholder="copy link google maps site anda">
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="link" data-valmsg-replace="true"></span>
			<input type="submit" class="fadeIn fourth" value="Submit">
		</form>
	</div>
</div>
@*<script>
		 $(document).ready(function () {
		   FillCountries();
		 });
		function FillCountries()
		{
			$.post("Home/GetCountries", null, function (data) {
				if (data) {

				$("#ddlCountry").append("<option value=0>Select...</option>");
				$(data).each(function () {
					$("#ddlCountry").append($('<option/>', { value: this.Id }).html(this.Name));
				});
				}
			}, 'json')
		}
	</script>*@


