@page
@model Billboard360.Web.Views.ExportImport.IndexModel
@{
}

<div class="card card-custom">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">Unggah Site</h3>
		</div>
	</div>		

	<div class="card-body">
		<div id="loader" style="display:none;"></div>

		<div id="divload" class="animate-bottom">
			<form method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-4">
						<input type="file" id="fUpload" name="files" class="form-control" />
					</div>
					<div class="col-md-4">
						<input type="button" class="btn btn-primary" id="btnUpload" value="Upload" />
					</div>
					<div class="col-md-4">
						<input type="button" class="btn btn-info" id="btnDownload" value="Download Template" onclick="location.href='@Url.Action("Download", "ExportImport")'" />
					</div>
				</div>
				<br />
				<div id="dvData" class="auto-table"></div>
			</form>
		</div>
	</div>
</div>