@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Syarat Dan Ketentuan";
}
<section class="gray">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-8 col-sm-12">
				<div class="dashboard-wrapers">
					<div class="dashboard-gravity-list mt-0" style="padding:1%;">
						<p>
							<span style="font-size:18px"><strong>Keterangan Harga dan Cara Pembayaran</strong></span><br />
							<strong>HARGA TERSEBUT DIATAS SUDAH TERMASUK :</strong><br />
							- Untuk Billboard &amp; Neonbox, Media Luar Ruang (All Risk), meliputi :<br />
							1. Lokasi, Rangka Penyanggah Reklame, Billboard+Lampu Sorot/Neonbox+Lampu Tl,Instalasi dan Power PLN<br />
							2. Pemakaian Listrik, Biaya Administrasi, Garansi Penyediaan Reklame dan Maintenance<br />
							3. Include cerak dan pemasangan 1 (satu) kali<br />
							4. PPN 10%
						</p>
						<p>
							CATATAN :<br />
							1.Penawaran harga diatas masih bisa dinego sampai deal<br />
							2.Jika ambil paket banyak, kami akan memberikan harga spesial dan potongan lagi<br />
							3.Kami juga dapat membuat paket sesuai dengan budget yang disediakan perusahaan bapak/ibu<br />
							4. jika lokasi titik diatas ada yang kurang cocok, kami dapat mencarikan lokasi yang diinginkan<br />
							5.Untuk pembahasan lebih detail dan negosiasi, kami minta diberi waktu untuk dapat bertemu
						</p>
						<p>
							<em>
								***Selama periode klien, jika terjadi pemadaman lampu (listrik) yang disebabkan oleh PLN, bukan menjadi tanggung jawab PT Billboardindo Nusantara<br />
								**apabila klien membatalkan sepihak penawaran yangn sudah disetujui, maka akan dikenakan biaya pembatalan sebesar 25% dari harga kesepakatan
							</em>
						</p>
						<p>
							CARA PEMBAYARAN :<br />
							1. Full Payment - Dibayarkan setelah&nbsp; status Order Approved<br />
							2. Down Payment<br />* 50% - Dibayar setelah Surat Penawaran di ACC<br />
							* 50% - dibayar pada saat pekerjaan telah selesai
						</p>
						<p>penawaran ini tidak mengikat, sewaktu - waktu dapat berubah tanpa pemberitahuan terlebih dahulu</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
