@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "New Password";
}

<div class="wrapper fadeInDown">
	<div id="formContent" class="regis">
		<!-- Icon -->
		<div class="fadeIn first">
			<img src="~/image/user.png" id="icon" alt="User Icon" style="height: 75px;width: 75px;" />
		</div>

		@if (Html.ViewData.ModelState.ContainsKey(string.Empty))
		{
			<div class="alert alert-danger" role="alert">
				@Html.ValidationSummary(true, "Error when submitting.")
			</div>
		}
		<!-- Login Form -->
		<form method="post" action="Change">
			<input type="password" id="newpassword" class="fadeIn first form-control" name="newpassword" placeholder="New Password">
			<input type="password" id="renewpassword" class="fadeIn second form-control" name="renewpassword" placeholder="Re New Password">
			<input type="submit" class="fadeIn fourth" value="Submit">
		</form>
	</div>
</div>


