@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Reset Password";
}

<div class="wrapper fadeInDown login-back">
	<div id="formContent" class="regis">
		<div style="text-align:right;">
			<button type="button" id="backLink" style="background:red;"><span aria-hidden="true">&times;</span></button>
		</div>
		<!-- Tabs Titles -->
		<h2 class="active"> Reset your Password </h2>

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="~/image/user.png" id="icon" alt="User Icon" style="height: 75px;width: 75px;" />
		</div>

		<!-- Login Form -->
		@if (Html.ViewData.ModelState.ContainsKey(string.Empty))
		{
			<div class="alert alert-danger" role="alert">
				@Html.ValidationSummary(true, "Error when submitting.")
			</div>
		}
		<form method="post" action="Login">
			<input type="text" id="email" class="fadeIn second form-control" name="email" placeholder="email">
			<input type="password" id="password" class="fadeIn third form-control" name="password" placeholder="New Password">
			<input type="password" id="repassword" class="fadeIn third form-control" name="repassword" placeholder="Confirm Password">
			<input type="submit" class="fadeIn fourth" value="Reset Password">
		</form>
	</div>
</div>


