@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add City";
}

<div class="wrapper fadeInDown">
	<div id="formContent" class="regis">
		<div style="text-align:right;">
			<button type="button" id="backLink" style="background:red;"><span aria-hidden="true">&times;</span></button>
		</div>
		<h2 class="active"> Add City </h2>
		<!-- Login Form -->
		@if (Html.ViewData.ModelState.ContainsKey(string.Empty))
		{
			<div class="alert alert-danger" role="alert">
				@Html.ValidationSummary(true, "Error when submitting.")
			</div>
		}
		<form method="post" action="AddCity">
			<input type="text" id="kode" class="fadeIn first form-control" name="kode" placeholder="Kode Kota" data-val="true" data-val-required="The city code is required" />
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="kode" data-valmsg-replace="true"></span>
			<input type="text" id="nama" class="fadeIn second form-control" name="nama" placeholder="Nama Kota" data-val="true" data-val-required="The city name is required" />
			<span style="display:block;" class="field-validation-valid" data-valmsg-for="nama" data-valmsg-replace="true"></span>
			<select id="lstprovince" name="lstprovince" class="selop fadeIn second"></select>
			<input type="submit" class="fadeIn fourth" value="Submit">
		</form>
	</div>
</div>


