@page
@model Billboard360.Web.Views.ExportImport.IndexModel
@{
}
<div id="loader" style="display:none;"></div>
<div id="divload" class="animate-bottom">
	<form method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-4">
				<input type="file" id="fUpload" name="files" class="form-control" />
			</div>
			<div class="col-md-4">
				<input type="button" id="btnUpload" value="Upload" />
			</div>
			<div class="col-md-4">
				<input type="button" id="btnDownload" value="Download Template" onclick="location.href='@Url.Action("Download", "ExportImport")'" />
			</div>
		</div>
		@*<div class="row">
				<div class="col-md-8" style="padding-top:10px;">
					<button asp-page-handler="Export">Export</button>
				</div>
			</div>*@
		<br />
		<div id="dvData" class="auto-table"></div>
	</form>
</div>
	@*<script>
			$(document).ready(function () {
				$('#btnUpload').on('click', function () {
					var fileExtension = ['xls', 'xlsx'];
					var filename = $('#fUpload').val();
					if (filename.length == 0) {
						alert("Please select a file.");
						return false;
					}
					else
					{
						var extension = filename.replace(/^.*\./, '');
						if ($.inArray(extension, fileExtension) == -1) {
							alert("Please select only excel files.");
							return false;
						} else if (!filename.includes("ImportSite")) {
							alert("Please upload ImportSite Format.");
							return false;
						}
					}
					var fdata = new FormData();
					var fileUpload = $("#fUpload")[0];
					var files = fileUpload.files;
					fdata.append(files[0].name, files[0]);
					$.ajax({
						type: "POST",
						url: "@Url.Action("OnPostImport", "ExportImport")",//"/ExportImport?handler=Import",
						beforesend: function (xhr) {
							xhr.setrequestheader("xsrf-token",
								$('input:hidden[name="__requestverificationtoken"]').val());
						},
						data: fdata,
						contentType: false,
						processData: false,
						success: function (response) {
							//alert(response);
							if (response.length == 0)
								alert('Some error occured while uploading');
							else {
								$('#dvData').html(response);
							}
						},
						error: function (e) {
							$('#dvData').html(e.responseText);
						}
					});
				})
			})
		</script>*@
