@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Ganti Sandi";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<script type="text/javascript">
	var urlUpdate = '@Url.Action("Change","Profile")';
</script>
<script src="~/scripts/Profile/Update.js" asp-append-version="true"></script>
<section class="gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="dashboard-navbar">

					<div class="d-user-avater">
						<img src="~/images/user.png" class="img-fluid avater" alt="">
						<h4>@HttpContextAccessor.HttpContext.Session.GetString("_FNAME")</h4>
					</div>

					<div class="d-navigation">
						<ul>
							@*<li><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>*@
							<li><a asp-area="" asp-controller="Profile" asp-action="Update"><i class="ti-user"></i>Profil</a></li>
							<li><a asp-area="" asp-controller="Booking" asp-action="Index"><i class="ti-layers"></i>Pesanan</a></li>
							<li><a asp-area="" asp-controller="Wish" asp-action="Index"><i class="ti-heart"></i>Item Tersimpan</a></li>
							<li class="active"><a asp-area="" asp-controller="Profile" asp-action="ChangePassword"><i class="ti-unlock"></i>Ganti Sandi</a></li>
							<li><a asp-area="" asp-controller="Profile" asp-action="LogOut"><i class="ti-power-off"></i>Keluar</a></li>
						</ul>
					</div>

				</div>
			</div>
			<div class="col-lg-9 col-md-12">
				<div class="dashboard-wraper">
					@Html.ValidationMessage("Error")
					<!-- Basic Information -->
					<div class="form-submit">
						<h4>Ganti Sandi Anda</h4>
						<div class="submit-section">
							<div class="form-row">

								<div class="form-group col-lg-12 col-md-6">
									<label>Sandi Lama</label>
									<input id="oldpass" type="password" class="form-control">
								</div>

								<div class="form-group col-md-6">
									<label>Sandi Baru</label>
									<input id="newpass" type="password" class="form-control">
								</div>

								<div class="form-group col-md-6">
									<label>Konfirmasi Sandi</label>
									<input id="conpass" type="password" class="form-control">
								</div>

								<div class="form-group col-lg-12 col-md-12">
									<button class="btn btn-theme" type="submit" onclick="updatePassword()">Simpan Perubahan</button>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>

