<script src="~/scripts/Profile/Index.js" asp-append-version="true"></script>

<section class="gray">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="dashboard-navbar">

                    <div class="d-user-avater">
                        <img src="assets/img/user-2.jpg" class="img-fluid avater" alt="">
                        <h4>Adam Harshvardhan</h4>
                        <span>Canada USA</span>
                    </div>

                    <div class="d-navigation">
                        <ul>
                            <li><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>
                            <li class="active"><a href="my-profile.html"><i class="ti-user"></i>Profil</a></li>
                            <li><a href="my-booking.html"><i class="ti-layers"></i>Pesanan</a></li>
                            <li><a href="bookmark-list.html"><i class="ti-heart"></i>Item Tersimpan</a></li>
                            <li><a href="change-password.html"><i class="ti-unlock"></i>Ganti Password</a></li>
                            <li><a href="#"><i class="ti-power-off"></i>Keluar</a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="dashboard-wraper">

                    <!-- Basic Information -->
                    <div class="form-submit">
                        <h4>My Account</h4>
                        <div class="submit-section">
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Your Name</label>
                                    <input type="text" class="form-control" value="Shaurya Preet">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Email</label>
                                    <input type="email" class="form-control" value="preet77@gmail.com">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Your Title</label>
                                    <input type="text" class="form-control" value="Web Designer">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" value="123 456 5847">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Address</label>
                                    <input type="text" class="form-control" value="522, Arizona, Canada">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>City</label>
                                    <input type="text" class="form-control" value="Montquebe">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>State</label>
                                    <input type="text" class="form-control" value="Canada">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Zip</label>
                                    <input type="text" class="form-control" value="160052">
                                </div>

                                <div class="form-group col-md-12">
                                    <label>About</label>
                                    <textarea class="form-control">Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</textarea>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-submit">
                        <h4>Social Accounts</h4>
                        <div class="submit-section">
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Facebook</label>
                                    <input type="text" class="form-control" value="https://facebook.com/">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Twitter</label>
                                    <input type="email" class="form-control" value="https://twitter.com/">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Google Plus</label>
                                    <input type="text" class="form-control" value="https://googleplus.com/">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>LinkedIn</label>
                                    <input type="text" class="form-control" value="https://linkedin.com/">
                                </div>

                                <div class="form-group col-lg-12 col-md-12">
                                    <button class="btn btn-theme" type="submit">Simpan Perubahan</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
