@{
	ViewData["Title"] = "Lupa Sandi";
}

<link href="~/css/login.css" rel="stylesheet" asp-append-version="true">
<div class="wrapper fadeInDown login-back">
	@if (Html.ViewData.ModelState.ContainsKey(string.Empty))
	{
		<div class="alert alert-danger" role="alert">
			@Html.ValidationSummary(true, "Terjadi kesalahan saat mengirim.")
		</div>
	}
	<div id="formContent" class="regis">
		<!-- Tabs Titles -->
		<h2 class="active"> Lupa sandi anda? </h2>
		<p> Enter your email. </p>

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="~/images/user.png" id="icon" alt="User Icon" style="height: 75px;width: 75px;" />
		</div>

		<!-- Login Form -->
		<form method="post" action="ForgotPass">
			<input type="text" id="email" class="fadeIn second form-control" name="email" placeholder="Alamat Email Ando">
			<input type="submit" class="fadeIn fourth" value="Kirim Reset Email">
		</form>

		<!-- Remind Passowrd -->
		@*<div id="formFooter">
			<a asp-area="" asp-controller="Login" asp-action="Logon">Sign In </a>
		</div>*@

	</div>
</div>


